robotframework
robotframework-seleniumlibrary==6.1.0
robotframework-selenium2library
robotframework-faker==5.0.0
xlrd
selenium==4.9.1
robotframework-robocop==4.2.1
robotframework-pabot==2.16.0
robotframework-datadriver
robotframework-datadriver[XLS]
robotframework-retryfailed==0.2.0
robotframework-pdf2textlibrary
robotframework-screencaplibrary
robotframework-requests
robotframework-databaselibrary
robotframework-browsermobproxylibrary
robotframework-jsonlibrary
psycopg2
pyautogui
allure-robotframework
pywin32
openpyxl
PyPDF2
pyperclip
PyGetWindow
python-docx
beautifulsoup4
tabulate
pdf2docx
matplotlib
plotly
